spring:
  application:
    name: rest-notatki
  datasource:
    url: jdbc:h2:file:~/notatki-db
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2